<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="todo">
      <input type="submit" value="Add Item">
    </form>
    <ul>
    {{#todoList}}
        <li><input type="checkbox" {{status}}>  {{item}}</li>
    {{/todoList}}
  </ul>
  </body>
</html>
